
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>YaUS!! Home!!</title>
    <link th:href="@{/styles/cssandjs/styles.css}" rel="stylesheet" />
</head>
<body>
<div id="banner">
</div>
<div id="input-box">
    <h1>YaUS!</h1>
    <h3>Yet Another Url Shortener!</h3>
    <form id="shortenForm">
        <input type="text" id="url" name="url" placeholder="What will you shorten today?" />
        <button id="shorten-button" type="submit">Shorten</button>
    </form>

</div>

<script>
    let banner = document.getElementById("banner")
    banner.hidden = true;

    document.getElementById("shortenForm").addEventListener('submit', async (e) => {
        e.preventDefault()
        const url = document.getElementById("url").value

        const response = await fetch('/shorten', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({ url })
        });
        const data = await response.json();
        banner.hidden = false;
        if (!response.ok) {
            banner.style.backgroundColor = "red"
            banner.innerHTML = `<span id="error-message">${data["hint"]}</span>`;
        } else {
            banner.innerHTML = `Url was successfully shortened. Share it at <a id="shorten-url-address-link" href="http://localhost:8080/${data.shortCode}">${data.shortCode}</a>`
        }
    })
</script>

</body>
</html>